body {
    width: 100%;
    font-weight: 100%;
}

.header-1{
    background: color #252323;
    height: 60px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

